body{
    
}
img{
    z-index: 1;
}
hr{
    width: 5px;
    height: 200px;
    background-color: orange;
    float: left;
    margin: 30px;
}
.home{
    color: white;
    background-color: rgb(148, 143, 92);
    width: 750px;
}
.container{
    display: flex;
    flex-direction: row;
    border: 2px solid blue;
    justify-content: flex-end;
    width: 15%;
    flex-wrap: wrap;
    float: right;
    margin: 2px;
}
.item{
padding: 3%;
flex-grow: 5;

}
.item :hover{
    background-color: burlywood;
    color: yellow;
    
}


.containers{
display: grid;
grid-template-columns: auto auto auto auto; 
background-color: blue;
width: 70%;
gap: 1% 2%;



}
.items{
    
    background-color: gray;
    padding: 20px;
    
}
.items-1{
    background-color: gray;
grid-column: span 4;

}
td{
    padding: 2px;
    margin: 5px;

}
body{
    max-width: 500px;
    padding: 2%;
}